# Xcode
#
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# macOS
#
.DS_Store
*.swp
*.lock

# Swift Package Manager
#
.build/
.swiftpm/

# Personal
#
*.log
*.plist.bak
project.yml.bak
